<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1>Obrigado por entrar em contato conosco, <%= message.name %></h1>
  <div class="row">
    <div class="col-sm-12">
      <p>Responderemos a sua mensagem:</p>
      <p>"<%= message.text %>"</p>
      <p>o mais breve possível!</p>
    </div>
  </div>
</div>